<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= myname %></h2>
    <h2>This is the Mean Stack</h2>

    <ul>
      <% MEANS.forEach(function(MEAN){ %>
      <li><%= MEAN.name %> : <%= MEAN.def %></li>
      <%}); %> 
    </ul>

  </body>
</html>
